habitaciones/app.py
habitaciones/ayudantes.py
habitaciones/dataset_inquilinos.csv
habitaciones/ejecutar.txt
habitaciones/logica.py
habitaciones/metadatos.xlsx
habitaciones/__pycache__/ayudantes.cpython-311.pyc
habitaciones/__pycache__/logica.cpython-311.pyc
habitaciones/media/portada.png
pytorch/app.py
pytorch/modelo.pth
